{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="content container-fluid">
             <div class="page-header">
                <div class="row align-items-center">
                   <div class="col">
                      <h3 class="page-title">Students</h3>
                      <ul class="breadcrumb">
                         <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Dashboard</a></li>
                         <li class="breadcrumb-item active">Student List</li>
                      </ul>
                   </div>
                   <div class="col-auto text-right float-right ml-auto">
                     <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                     <a href="{% url 'add_student' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                   </div>
                </div>
             </div>
             {% include 'includes/messages.html' %}
             <div class="row">
               <div class="col-sm-12">
                  <div class="card card-table">
                     <div class="card-body">
                        <div class="table-responsive">
                           <table id="table_id" class="table table-hover table-center mb-0 ">
                              <thead>
                                 <tr>
                                    <th>Sr.No.</th>
                                    <th>Name</th>
                                    <th>DOB</th>
                                    <th>Course Name</th>
                                    <th>Session Year</th>
                                    <th>Mobile Number</th>
                                    <th>Address</th>
                                    <th class="text-right">Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                              {% for student in students %}

                                 <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                       <h2 class="table-avatar">
                                          {% if student.admin.profile_pic == "" %}
                                          <a href="{% url 'student_details' student.id %}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/profile1.jpeg'%}" alt="User Image"></a>
                                          {% else %}
                                          <a href="{% url 'student_details' student.id %}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{student.admin.profile_pic}}" alt="User Image"></a>
                                          {% endif %}
                                          <a href="{% url 'student_details' student.id %}">{{student.admin.first_name}} {{student.admin.last_name}}</a>
                                       </h2>
                                    </td>
                                    <td>{{student.dob}}</td>
                                    <td>{{student.course_id.course_name}}</td>
                                    <td>{{student.session_year_id.session_start}} to {{student.session_year_id.session_end}}</td>
                                    <td>{{student.contact_no}}</td>
                                    <td>{{student.address}}</td>
                                    <td class="text-right">
                                       <div class="actions">
                                          <a href="{% url 'update_student' student.admin.id %}" class="btn btn-sm bg-success-light mr-2">
                                          <i class="fas fa-pen"></i>
                                          </a>
                                          <a href="{% url 'delete_student' student.admin.id %}" class="btn btn-sm bg-danger-light">
                                          <i class="fas fa-trash"></i>
                                          </a>
                                       </div>
                                    </td>
                                 </tr>
                              {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
      </div>

{% endblock %}