{% extends 'base.html' %}
{% block content %}

   <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Staff</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'staff_list' %}">Staffs</a></li>
                        <li class="breadcrumb-item active">Add Staff</li>
                    </ul>
                   {% include 'includes/messages.html' %}
                </div>
            </div>
        </div>

      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form method="post" action="{% url 'add_staff' %}" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Staff Information</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>First Name <em>*</em></label>
                              <input type="text" class="form-control" placeholder="Enter first name" name="first_name" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Last Name <em>*</em></label>
                              <input type="text" class="form-control" placeholder="Enter last name" name="last_name" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Username <em>*</em></label>
                              <input type="text" class="form-control" placeholder="Enter username" name="username" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Password <em>*</em></label>
                              <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Email Address <em>*</em></label>
                              <input type="email" class="form-control" placeholder="example@gmail.com" name="email" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Gender <em>*</em></label>
                              <select class="form-control" name="gender" required>
                                 <option>Select gender</option>
                                 <option value="Male">Male</option>
                                 <option value="Female">Female</option>
                                 <option value="Others">Others</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Contact No.<em>*</em></label>
                              <input type="number" maxlength="10" class="form-control" placeholder="Enter contact number" name="contact_no" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Address <em>*</em></label>
                              <textarea class="form-control" placeholder="Enter your address" name="address" required></textarea>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 ">
                           <div class="form-group">
                              <label>Upload Image</label>
                              <input type="file" class="form-control" name="profile_pic" placeholder="Select image ">
                           </div>
                        </div>
                        <br>
                        <div class="col-12">
                           <button type="submit" class="btn btn-primary">Add Staff</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>

{% endblock %}