{% extends 'base.html' %}
{% block content %}

 <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
             <div class="col">
                 <h3 class="page-title">Staff Feedback</h3>
                 <ul class="breadcrumb">
                     <li class="breadcrumb-item"><a href="{% url 'staff_home' %}">Dashboard</a></li>
                     <li class="breadcrumb-item active">Send Feedback</li>
                 </ul>
                {% include 'includes/messages.html' %}
             </div>
             <div class="col-auto text-right float-right ml-auto">
                 <a href="#" class="btn btn-primary mr-2" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-pray"></i>&nbsp;&nbsp;Feedback History</a>
             </div>
         </div>
     </div>

      <div class="row">
            <div class="col-sm-12">
               <div class="card">
                  <div class="card-body">
                     <form method="post" action="{% url 'save_staff_feedback' %}">
                        {% csrf_token %}
                           <div class="col-12">
                              <h5 class="form-title"><span>Send Feedback</span></h5>
                           </div>
                             <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>Write Feedback</label>
                                  <textarea class="form-control" rows="6" name="feedback" placeholder="Write your feedback..."></textarea>
                              </div>
                           </div>
                           <div class="col-12">
                              <button type="submit" class="btn btn-primary">Send Feedback</button>
                           </div>

                     </form>
                  </div>
               </div>
            </div>
         </div>
   </div>
<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Feedback History</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
        </div>
        <div class="modal-body">
            <div class="row">
               <div class="col-sm-12">
                  <div class="card card-table">
                     <div class="card-body">
                        <div class="table-responsive">
                           <table id="table_id" class="table table-hover table-center mb-0 ">
                              <thead>
                                 <tr>
                                    <th>Sr.No.</th>
                                    <th>Feedback</th>
                                    <th class="text-right">Reply</th>
                                 </tr>
                              </thead>
                              <tbody>
                              {% for f in feedback %}

                                 <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{f.feedback}}</td>
                                    <td class="text-right">
                                       <div class="actions">
                                        {% if f.feedback_reply == "" %}
                                           <h5><span class="badge badge-secondary">No-reply</span></h5>
                                        {% else %}
                                           {{f.feedback_reply}}
                                        {% endif %}
                                       </div>
                                    </td>
                                 </tr>
                              {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
        </div>
    </div>
  </div>
</div>


{% endblock %}