{% extends 'base.html' %}
{% block content %}

                <div class="content container-fluid">
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">Update Subject</h3>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Subjects</a></li>
                                    <li class="breadcrumb-item active">Update Subject</li>
                                </ul>
                                {% include 'includes/messages.html' %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="form-title"><span>Subject Information</span></h5>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Subject Name</label>
                                                    <input type="text" class="form-control" value="{{subject.subject_name}}" name="s_name"/>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Course Name</label>
                                                    <select class="form-control" name="c_name" >
                                                        {% for c in course %}
                                                        <option value="{{c.id}}" {% if subject.course_id == c.id %} selected {% endif %}>{{c.course_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Staff Name</label>
                                                    <select class="form-control" name="staff_name" >
                                                        {% for s in staff %}
                                                        <option value="{{s.id}}" {% if subject.staff_id == s.id %} selected {% endif %}>{{s.admin.first_name}}&nbsp;{{s.admin.last_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary">Update Subject</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}