
<script>
  $(document).ready(function() {

      // Area chart

          var options = {
          series: [{{staff_count}}, {{student_count}}],
          chart: {
          type: 'donut',
          height: 350,
          width: '100%',
        },
        labels: ["Staff", "Students"],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#staff_stud"), options);
        chart.render();

      // Bar chart

      if ($('#girls_boys').length > 0) {
      var optionsBar = {
          chart: {
              type: 'bar',
              height: 350,
              width: '100%',
              stacked: true,
              toolbar: {
                  show: false
              },
          },
          dataLabels: {
              enabled: false
          },
          plotOptions: {
              bar: {
                  columnWidth: '45%',
              }
          },
          series: [{
              name: "Boys",
              color: '#fdbb38',
              data: [{{student_boys}}],
          }, {
              name: "Girls",
              color: '#19affb',
              data: [{{student_girls}}],
          }],
          labels: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
          xaxis: {
              labels: {
                  show: false
              },
              axisBorder: {
                  show: false
              },
              axisTicks: {
                  show: false
              },
          },
          yaxis: {
              axisBorder: {
                  show: false
              },
              axisTicks: {
                  show: false
              },
              labels: {
                  style: {
                      colors: '#777'
                  }
              }
          },
          title: {
              text: '',
              align: 'left',
              style: {
                  fontSize: '18px'
              }
          }

      }

      var chartBar = new ApexCharts(document.querySelector('#girls_boys'), optionsBar);
      chartBar.render();
      }

  });

 </script>